<header id="top-header">
    <h1>R4ND0M NFT Minting App</h1>
    <div id="wallet-coonection">
        <% if (locals.walletConnected) { %>
            <a title="Welcome" href="/account/">Welcome <%= locals.walletAddress %></a>
            <% } else { %> <a title="Click to connect your wallet" href="/wallet/connect">Connect Wallet</a>
                <% } %>

    </div>
</header>