<header id="top-header">
    <h1>R4ND0M NFT Minting App</h1>
    <div>
        <% if (locals.walletConnected) { %>
            <a title="Welcome" href="/account/">Welcome <%= locals.walletAddress %></a>
            <% } else { %> <a id="wallet-connect" href="#" title="Click to connect your wallet">Connect Wallet</a>
                <% } %>

    </div>
</header>