<nav>
    <!--Layout wireframe will be:
            - Home:
             - Navigation: Home About 
             - Welcome message
             - Images sequentially being displayed | Features listed  
             - Mint button (trigger connect wallet "modal(w3)" if not connected)
            - About:
             - Team: Caio Sa
             - About: Project WDD330
        -->
    <a href="#home">
        Home
    </a>
    <a href="#about">
        About
    </a>
    <a href="#">
        Connect Wallet
    </a>
</nav>