<%# The index view is the "body" that will be supplied to the layout. %>
    <!--Layout wireframe will be:
            - Header: NFT Minting App  Connect Wallet
            - Navigation: Home About 
            - Home:
             - Welcome message
             - Images sequentially being displayed | Features listed  
             - Mint button (trigger connect wallet "modal(w3)" if not connected)
            - About:
             - Team: Caio Sa
             - About: Project WDD330
        -->
    <%- include("partials/head") %>
        <%- include("partials/header") %>
            <%- include("partials/navigation") %>
                <div id="home" class="grid">
                    <h1 id="welcome">Welcome to RNC: Random NFT Collection</h1>
                    <div class="main-list">
                        <!--animation-->
                        <img alt="nft random images sample animation" src="/images/site/own_today.png">
                        <!--feature-->
                        <div class="features">
                            <h2>RNC Collection</h2>
                            <ul>
                                <li>Awesome RGI: Random Generated Images</li>
                                <li>Images Stored on IPFS, forever!</li>
                                <li>Mint Permissionless, for free!</li>
                            </ul>
                        </div>
                    </div>
                    <!--
        mintNFT will check whether the wallet connection has been made.
        If not, throw modal for the user to connect their wallet.
        -->
                    <button type="button" onclick="mintNFT()">MINT NOW!</button>
                </div>
                <div id="about">
                    <h2>Meet Out Team</h2>
                    <div class="team-list">
                        <img alt="project owner" src="/images/site/own_today.png">
                        <!--feature-->
                        <div class="adjectives">
                            <h2>WDD 330 Student</h2>
                            <ul>
                                <li>Brazilian</li>
                                <li>24 Years</li>
                                <li>WDD 330 Student</li>
                                <li>Blockchain enthusiast</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <%- include("partials/footer") %>