<%# The index view is the "body" that will be supplied to the layout. %>
    <%- include("partials/head") %>
        <%- include("partials/header") %>
            <%- include("partials/navigation") %>
                <div id="home" class="grid">
                    <div class="inner-grid">
                        <h1 id="welcome">Welcome to RNC: Random NFT Collection</h1>
                        <h2>Random Images</h2>
                        <h2>RNC Collection</h2>
                    </div>
                    <div class="main-list">
                        <!--animation-->
                        <img alt="nft random images sample animation"
                            src="https://fastly.picsum.photos/id/134/300/400.jpg?hmac=k_YeJi6fxskHPr7ulk6riTcJeIzqdVsLRtomtbHpugY">
                        <!--feature-->
                        <div class="features">
                            <ul>
                                <li>Awesome RGI: Random Generated Images</li>
                                <li>Images Choice is Random!</li>
                                <li>Mint Permissionless, for free!</li>
                            </ul>
                        </div>
                    </div>
                    <button class="mintBtn" type="button" onclick="mintNFT()">MINT NOW!</button>
                </div>
                <div id="about" class="about">
                    <h2>Meet Out Team</h2>
                    <div class="team-list">
                        <!--feature-->
                        <h2>Caio Sa 😄</h2>
                        <ul>
                            <li>Brazilian</li>
                            <li>24 Years</li>
                            <li>WDD 330 Student</li>
                            <li>Blockchain enthusiast</li>
                        </ul>
                    </div>
                    <img alt="project owner" src="../images/IMG_10621.webp">
                </div>
                <h4><a id="move-up" href="#">Go to Home Page</a></h4>
                <%- include("partials/footer") %>
                    <script src="../js/script.js"></script>
                    <script>
                        const connectWalletButton = document.querySelector("#wallet-connect")
                        connectWalletButton.addEventListener("click", connectWallet)

                        const createWalletButton = document.querySelector("#no-wallet")
                        createWalletButton.addEventListener("click", createWallet)

                        async function connectWallet() {
                            try {
                                let hasWallet = false
                                // check wether the user has metamask installed
                                if (window?.ethereum?.isMetaMask) {
                                    hasWallet = true
                                }
                                // check the current status - if not connected, try connecting:
                                const status = await fetch("/wallet/status")
                                console.log("json", await status.json())

                                // this may fail if there are multiple wallet extensions in the browser
                                if (hasWallet && !status.account) { // connect
                                    const accounts = await window.ethereum.request({
                                        method: 'eth_requestAccounts'
                                    })

                                    console.log(accounts[0])

                                    // get the connected account on the server
                                    const response = await fetch("/wallet/connect", {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            walletAddress: accounts[0],

                                        })
                                    })

                                    const result = await response.json()

                                    console.log("result ", result)

                                    // if it worked, update html
                                    if (result.success) {
                                        // update html
                                        connectWalletButton.textContent = result.walletAddress
                                        connectWalletButton.style.border = '3px solid black'
                                        // connectWalletButton.style.borderRadius = '20%'
                                        // connectWalletButton.style.padding = '1%'
                                    }
                                } else if (!hasWallet && !status.account) { // create
                                    await createWallet()
                                } else if (status.account) { // is this for reload?
                                    connectWalletButton.textContent = result.walletAddress
                                    connectWalletButton.style.border = '3px solid black'
                                }
                            } catch (err) {
                                console.error('Failed connecting wallet ' + err)
                            }
                        }

                        async function createWallet() {
                            connectWalletButton.textContent = 'Creating Random Wallet'
                            // handle case where the person doesn't have Metamask installed
                            const response = await fetch("/wallet/create", {
                                method: 'POST'
                            })

                            const result = await response.json()

                            console.log("result ", result)

                            // if it worked, update html
                            if (result.success) {
                                // update html
                                connectWalletButton.textContent = result.walletAddress
                                connectWalletButton.style.border = '3px solid black'
                                // create modal saying this is the user's wallet ...
                            }
                        }
                    </script>