/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: red;
}

nav {
  background-color: yellow;
  display: flex;
}


main {
  background-color: blue;
}