/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
}

body h4 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  border-radius: 10px 10px 0 0;
  padding-bottom: 20px;
}

header a {
  background-color: #333;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
}

header a:hover {
  background-color: #555;
  transform: scale(1.1);
}

header a:active {
  background-color: #777;
}

.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 5px 0 0;
}

header h1 {
  margin: 30px 0 0 20px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #333;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
  transform: scale(1.1);
}

nav a:active {
  background-color: #777;
}

main {
  background-color: blue;
}

#home {
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 350px 1fr;
}

.main-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.main-list img {
  height: auto;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  position: relative;
  margin: 10px 0;
  padding-left: 40px;
  font-size: 1.2em;
}

.features li:before {
  content: '⭐';
  position: absolute;
  left: 0;
  color: gold;
  font-size: 1.5em;
  line-height: 1;
}

/**/

#about {
  height: 85vh;
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  justify-items: center;
  align-items: center;
}

#about img {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.about h2 {
  color: #333;
  background-color: bisque;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px;
}


.team-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.team-list h2 {
  color: white;
  background-color: #333;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.team-list ul {
  list-style: none;
  padding: 0;
}

.team-list li {
  position: relative;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.team-list li:before {
  content: '⭐';
  position: absolute;
  left: -40px;
  color: gold;
  font-size: 1.5em;
  line-height: 1;
}

#welcome {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background-color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 320px;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.mintBtn {
  border-radius: 20px;
  margin: 3% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  max-height: fit-content;
  display: block;
  width: 60%;
  max-width: 300px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mintBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.modal.visible {
  display: block;
}

.modal__header {
  color: white;
  background-color: #333;
  line-height: 50px;
  text-align: center;
  position: relative;
  height: 50px;
  box-sizing: border-box;
}

.modal__header a {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 0 20px;
  font-size: 16px;
  background-color: #555;
  height: 100%;
}

.inner-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.inner-grid h1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.inner-grid h2 {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

h4 a {
  background-color: #333;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}

h4 a:hover {
  background-color: #555;
  transform: scale(1.1);
}

#move-up:active {
  background-color: #777;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
}

@media (max-width: 600px) {
  header {
    padding-bottom: 0;
  }

  #home {
    grid-template-rows: 1fr 300px 1fr;
  }

  /* .mintBtn {
    margin: 10% 50% 0 50%; 
  } */
}